<div>
 <div class="submit-form">
     <div *ngIf="!submitted">
        <h2>Create Student</h2>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="student.name"
            name="name"
          />
        </div>

        <div class="form-group">
            <label for="course">Course</label>
            <input
              type="text"
              class="form-control"
              id="course"
              required
              [(ngModel)]="student.course"
              name="course"
            />
       </div>


          <button (click)="saveStudent()" class="btn btn-success">Submit</button>
    </div>

        <div *ngIf="submitted">
            <h4>student was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newStudent()">Add</button>
        </div>
    </div>
</div>
  
  
        
